---
import site from '../../data/site.json';

const whatsappUrl = site.contato.whatsappUrl;
---

<a href={whatsappUrl} class="bio-wpp-float" aria-label="Falar no WhatsApp" target="_blank" rel="noopener noreferrer">
	<svg viewBox="0 0 30 30" fill="white" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
		<path
			d="M15 2C8.373 2 3 7.373 3 14c0 2.12.563 4.107 1.547 5.824L3 27l7.352-1.516A11.94 11.94 0 0015 26c6.627 0 12-5.373 12-12S21.627 2 15 2zm6.168 16.352c-.254.714-1.494 1.368-2.056 1.452-.525.078-1.191.11-1.924-.123a17.693 17.693 0 01-1.74-.643C12.87 17.792 11.032 15.58 10.67 15.1c-.36-.48-1.23-1.638-1.23-3.125 0-1.488.78-2.22 1.057-2.524.278-.303.605-.38.807-.38.202 0 .404.002.582.01.186.01.437-.07.683.522.255.61.863 2.09.94 2.24.077.152.128.33.025.53-.103.2-.154.325-.304.5-.15.176-.316.393-.452.527-.15.148-.306.31-.13.606.176.298.78 1.287 1.675 2.084 1.15 1.026 2.12 1.343 2.42 1.494.3.15.476.126.65-.076.176-.202.757-.882.957-1.184.2-.302.4-.252.674-.152.276.1 1.752.826 2.052.976.3.15.5.226.574.352.075.126.075.727-.18 1.44z"
		></path>
	</svg>
</a>
